@charset "UTF-8";

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0 auto;
    text-align: center;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/* img{ max-width: 100%; } */
:root {
    --maincolor: #c69c6d;
    --subcolor: #e88c94;
    --subcolor01: #83796f;
    --mainfont: #231815;
}

nav ul li {
    font-family: "メイリオ";
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    opacity: 0.6;
}

h2 {
    margin: 10px auto;
}

section {

    padding: 40px 0 15px;
}

.inner {
    width: 700px;
    padding: 0 50px 10px;
    margin: auto;
}


main {
    background-image: url(images/piano_img_mainback.gif);
}


.first_view {
    background: url(images/piano_img00.webp) no-repeat top center/cover fixed;
    height: 80vh;
    position: relative;
}

img.top_logo01 {
    width: 311px;
    position: absolute;
    top: 30px;
    left: 45px;
}

img.top_logo02 {
    width: 300px;
    position: absolute;
    bottom: 52px;
    right: 54px;
}

.top_nav li {
    width: 90px;
    height: 90px;
    background: url("images/piano_img03.webp") no-repeat border-box left top/contain content-box;
    display: grid;
    place-content: center;
    place-items: center;
    color: #fff;
    filter: drop-shadow(0px 3px 2px rgba(160, 160, 160, 0.8));
    transition: transform 0.3s ease, filter 0.3s ease;
}

.top_nav li span {
    font-size: 0.8em;
}

.top_nav li:hover {
    -webkit-transform: translate(0, 3px);
    -moz-transform: translate(0, 3px);
    transform: translate(0, 3px);
    border-bottom: none;
    filter: none;
    opacity: .9;
}

.top_nav ul {
    display: flex;
    justify-content: space-between;
}

hr {
    height: 6px;
    background-color: var(--subcolor);
    border: none;
    margin: 0;
}


/* .back_main {
    padding: 20px 0;
    background-image: url(images/piano_img_mainback.gif);
} */
/* .back_keyboard{
    background-image: url(images/piano_img06.webp),
        url(images/piano_img05.webp)
    } */
.back_keyboard {
    background-image: url(images/piano_img06.webp);
    background-repeat: no-repeat;
    background-position: 0 0;
    /* 背景画像の初期位置を左上に設定 */
    animation: scroll-anim 130s linear infinite;
    white-space: nowrap;
    /* テキストが改行されないように設定 */
    overflow: hidden;
    /* 要素内で背景画像がはみ出ないように設定 */
}

@keyframes scroll-anim {
    0% {
        background-position: 0 150px;
        /* アニメーションの開始時点で左上に配置 */
    }

    100% {
        background-position: 100% 150px;
        /* 背景画像を右端までスクロール */
    }
}



h3 {
    margin: 0px auto 12px;
    background-image: url(images/piano_img04.webp);
    background-size: contain;
    width: 277px;
    height: 45px;
    display: grid;
    place-content: center;
    color: white;
}

.lineup dt {
    background: url("images/piano_img07.webp") no-repeat border-box center top/contain content-box;
    width: 160px;
    height: 30px;
    display: grid;
    place-items: center;
    margin: auto;
    transform: translateY(-10px);
}

.lineup dd img {
    width: 162px;
    margin: auto;
    margin-bottom: 16px;
}

ul.lineup {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.lineup li {
    border-radius: 30px;
    background: rgba(211, 90, 36, 0.18);
    width: 50%;
    width: calc(50% - 10px);
    margin-bottom: 37px;
}

.lineup dd {
    padding: 10px 15px;
    font-size: 12px;
}

.h3sbtitle {
    margin-bottom: 30px;
}

.button {
    position: relative;
    display: inline-block;
    padding-right: 20px;
    color: #333;
    text-decoration: none;

}

.button:after {
    content: '';
    width: 6px;
    height: 6px;
    border: 0;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    position: absolute;
    top: 50%;
    right: 16px;
    margin-top: -3px;
    transform: rotate(45deg);
}

.button {
    position: relative;
    display: inline-block;
    padding-right: 20px;
    background-color: var(--subcolor);
    border: none;
    padding: 5px 30px 5px 15px;
    font-size: 15px;
    color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 2px rgba(160, 160, 160, 0.8));
    transition: transform 0.3s ease, filter 0.3s ease;
    z-index: 4;
    margin-bottom: 20px;
}

.button:hover {
    -webkit-transform: translate(0, 3px);
    -moz-transform: translate(0, 3px);
    transform: translate(0, 3px);
    border-bottom: none;
    filter: none;
    opacity: .9;
}

.back_beige {
    background: rgba(211, 90, 36, 0.08);
    padding: 30px 0;
}

.innerwide {
    width: 700px;
    padding: 0px 0px 10px;
    margin: auto;
}

.afer_service ul {
    display: flex;
    justify-content: space-around;
}

.afer_service li {
    width: 24%;
}

.wesupport {
    position: relative;
}

.wesupport::before {
    content: "";
    background: url(images/pianohyakka_icon00.svg) no-repeat 100%;
    width: 30px;
    height: 30px;
    position: absolute;
    left: calc(50% - 9em);
    ;
    top: -4px;
}

.wesupport::after {
    content: "";
    background: url(images/pianohyakka_icon00.svg) no-repeat 100%;
    width: 30px;
    height: 30px;
    position: absolute;
    right: calc(50% - 9em);
    top: -4px;
    transform: scaleX(-1);
    /* 水平方向に反転させる */
}

/* .back_score {
    position: relative;
}
.back_score img {
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    z-index: 1;
}
canvas{
    position: absolute;
    bottom: 0;
  left:0;
    width: 100%;
} */
.back_score {
    /* position: relative; */
    width: 800px;
    height: 300px;
    background: url(images/piano_img12.webp) no-repeat center top/contain content-box;
    margin: -150px auto -140px;
}

li.eachstore {
    display: flex;
    /* width: 85%; */
    text-align: left;
    margin-bottom: 3em;
    clear: both;
    width: 500px;
    align-items: center;
}

li.eachstore img {
    width: 20%;
    object-fit: contain;
}

li.eachstore:nth-child(odd) img {
    margin-right: 1em;
}

li.eachstore:nth-child(even) {
    flex-direction: row-reverse;
    float: right;
}

li.eachstore:nth-child(even) img {
    margin-left: 1em;
}

.reviews_storename {
    color: #dd7260;
    font-weight: bold;
}

.reviews_textbox {
    display: inline-block;
}

.fukidasi {
    position: relative;
    display: inline-block;
    margin: 50px 0 30px;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #fff;
    line-height: 16px;
    font-size: 16px;
    background: #dd7260;
    border-radius: 10px;
}

.fukidasi:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -7px;
    border: 7px solid transparent;
    border-top: 11px solid #dd7260;
}

.fukidasi span {
    font-size: 12px;
    font-weight: 300;
}

section.faq {
    clear: both;
}

.faq ul {
    text-align: left;
}

p.faq_q {
    border-bottom: 2px solid #E48E80;
    display: inline-block;
    margin-bottom: 10px;
    font-weight: bold;
}

p.faq_q, p.faq_a {
    text-indent: -25px;
    padding-left: 25px;
}

p.faq_q::before {
    content: "Q.";
    color: #dd7260;
    margin-right: 10px;
    font-weight: bold;
}

p.faq_a::before {
    content: "A.";
    color: #dd7260;
    margin-right: 10px;
    font-weight: bold;
}

.faq li {
    margin-bottom: 40px;
}

section.info {
    padding-top: 30px;
}

.info ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.info li {
    width: 320px;
    margin-bottom: 15px;
}

div#wrapper {
    width: 100%;
    height: 100px;
    background: url(images/piano_img26_01.webp) 15% calc(100% - 30px) no-repeat,
        url(images/piano_img26_02.webp) 50% calc(100% - 30px) no-repeat,
        url(images/piano_img26_03.webp) 80% calc(100% - 5px) no-repeat;
    margin-top: -50px
}

footer {
    background-color: #c69c6d;
    padding: 30px 0;
}

footer li:first-child {
    width: 232px;
    font-size: 10px;
    text-align: left;
}

footer li:last-child {
    width: 568px;
    text-align: right;
}

footer ul {
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin: auto;
}

footer li span {
    font-size: 18px;
    font-weight: bold;
}

#wrapper p {
    padding: 300px 0;
    text-align: center;
}

/*========= waveを描画するエリア設定 ===============*/

.wave {
    position: relative;
}

.wave canvas {
    position: absolute;
    bottom: -140px;
    height: 200px;
    left: 0;
    width: 100%;
}

/* 追従バナー */
#float_btn {
    width: 65px;
    position: fixed;
    right: -100px;
    /* 初期位置を画面外に設定 */
    top: 50%;
    transform: translateY(-50%);
    transition: right 0.5s;
}

#float_btn_sp {
    position: fixed;
    bottom: -50px;
    /* 初期状態では非表示 */
    transition: bottom 0.3s ease;
    /* アニメーション効果を追加 */
    display: flex;
    width: 100%;
}

.br-sp {
    display: none;
}

.back_note {
    background:
        url(images/piano_img05.webp) no-repeat center fixed;
    ;
}



.animate-on-scroll {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.animate-on-scroll.fadeIn {
    opacity: 1;
    transform: translateY(0);
}




@media screen and (max-width: 700px) {

    .br-sp {
        display: block;
    }

    .first_view {
        background-size: 165%;
        height: 60vh;
        width: 100%;
    }

    img.top_logo01 {
        left: 50%;
        transform: translate(-50%, 10%);
    }

    img.top_logo02 {
        width: 250px;
        right: 5%;
    }

    .inner {
        width: 85%;
        padding: 0 0 20px;
    }

    .innerwide {
        width: 90%;
    }

    footer ul {
        margin: auto;
        display: inline;
    }

    footer li:first-child {
        width: 233px;
        font-size: 10px;
        text-align: center;
        display: inline-block;
        margin-bottom: 15px;
    }

    footer li:last-child {
        width: auto;
        text-align: center;
    }

    div#wrapper {
        background: url(images/piano_img26_01.webp) -10% calc(100% - 29px) no-repeat,
            url(images/piano_img26_02.webp) 50% calc(100% - 30px) no-repeat,
            url(images/piano_img26_03.webp) 101% calc(100% - 5px) no-repeat;
    }

    .info li {
        margin-bottom: 35px;
        width: 100%;
    }

    h2 {
        font-size: 16px;
    }

    ul.lineup {
        display: block;
    }

    .lineup li {
        width: 90%;
        margin: 0 auto 39px;
        padding: 0 10px 30px;
    }

    .lineup dd img {
        width: 80%;
    }

    .lineup dd {
        padding: 10px 15px 0;
        font-size: 14px;
    }

    li.eachstore {
        width: auto;
    }
}

/* =========================== */