@charset "UTF-8";

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    font-family: 'Noto Sans JP', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/* img{ max-width: 100%; } */
:root {
    --maincolor: #c69c6d;
    --subcolor: #e88c94;
    --subcolor01: #83796f;
    --mainfont: #231815;
}

body {
    margin: 0 auto;
    text-align: center;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    opacity: 0.6;
}

h2 {
    margin-bottom: 10px;
}

section {
    /* margin: 15px 0 30px; */
    padding: 20px 0;
}

.inner {
    width: 700px;
    padding: 0 75px 10px;
    margin: auto;
}

/* section {
    content-visibility: auto;
    contain-intrinsic-size: 500px;
} */

main {
    background-image: url(images/piano_img_mainback.gif);
}


.first_view {
    background: url(images/piano_img00.webp) no-repeat border-box top center/cover fixed content-box;
    /* width: 1200px; */
    height: 80vh;
    position: relative;
    /* max-width: 1200px; */
    /* width: 80%; */
}

img.top_logo01 {
    width: 311px;
    position: absolute;
    top: 30px;
    left: 45px;
}

img.top_logo02 {
    width: 300px;
    position: absolute;
    bottom: 52px;
    right: 54px;
}

.top_nav li {
    width: 90px;
    height: 90px;
    background: url("images/piano_img03.webp") no-repeat border-box left top/contain content-box;
    display: grid;
    place-content: center;
    place-items: center;
    color: #fff;
    filter: drop-shadow(0px 3px 2px rgba(160, 160, 160, 0.8));
    transition: transform 0.3s ease, filter 0.3s ease;
}

.top_nav li span {
    font-size: 0.8em;
}

.top_nav li:hover {
    -webkit-transform: translate(0, 3px);
    -moz-transform: translate(0, 3px);
    transform: translate(0, 3px);
    border-bottom: none;
    filter: none;
    opacity: .9;
}

.top_nav ul {
    display: flex;
    justify-content: space-between;
}

hr {
    height: 6px;
    background-color: var(--subcolor);
    border: none;
    margin: 0;
}


/* .back_main {
    padding: 20px 0;
    background-image: url(images/piano_img_mainback.gif);
} */
/* .back_keyboard{
    background-image: url(images/piano_img06.webp),
        url(images/piano_img05.webp)
    } */
.back_keyboard {
    background-image: url(images/piano_img06.webp);
    background-repeat: no-repeat;
    background-position: 0 0;
    /* 背景画像の初期位置を左上に設定 */
    animation: scroll-anim 80s linear infinite;
    white-space: nowrap;
    /* テキストが改行されないように設定 */
    overflow: hidden;
    /* 要素内で背景画像がはみ出ないように設定 */
}

@keyframes scroll-anim {
    0% {
        background-position: 0 0;
        /* アニメーションの開始時点で左上に配置 */
    }

    100% {
        background-position: 100% 0;
        /* 背景画像を右端までスクロール */
    }
}

.back_note {
    background:
        url(images/piano_img05.webp) no-repeat center, url(images/piano_img_mainback.gif);
}


h3 {
    margin: 0px auto 12px;
    background-image: url(images/piano_img04.webp);
    background-size: contain;
    width: 277px;
    height: 45px;
    display: grid;
    place-content: center;
    color: white;
}

.lineup dt {
    background: url("images/piano_img07.webp") no-repeat border-box center top/contain content-box;
    width: 160px;
    height: 30px;
    display: grid;
    place-items: center;
    margin: auto;
    transform: translateY(-10px);
}

.lineup dd img {
    width: 162px;
    margin: auto;
    margin-bottom: 5px;
}

ul.lineup {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.lineup li {
    border-radius: 30px;
    background: rgba(211, 90, 36, 0.08);
    width: 259px;
    height: 210px;
    margin-bottom: 37px;
}

.lineup dd {
    padding: 10px 20px;
    font-size: 10px;
}

.h3sbtitle {
    margin-bottom: 46px;
}

.button {
    position: relative;
    display: inline-block;
    padding-right: 20px;
    color: #333;
    text-decoration: none;

}

.button:after {
    content: '';
    width: 6px;
    height: 6px;
    border: 0;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    position: absolute;
    top: 50%;
    right: 16px;
    margin-top: -3px;
    transform: rotate(45deg);
}

.button {
    position: relative;
    display: inline-block;
    padding-right: 20px;
    background-color: var(--subcolor);
    border: none;
    padding: 5px 30px 5px 15px;
    font-size: 15px;
    color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 2px rgba(160, 160, 160, 0.8));
    transition: transform 0.3s ease, filter 0.3s ease;
    z-index: 4;
    margin-bottom: 20px;
}
.button:hover {
    -webkit-transform: translate(0, 3px);
    -moz-transform: translate(0, 3px);
    transform: translate(0, 3px);
    border-bottom: none;
    filter: none;
    opacity: .9;
}

.back_beige {
    background: rgba(211, 90, 36, 0.08);
    padding: 20px 0 0;
}
.innerwide {
    width: 700px;
    padding: 0 30px;
    margin: auto;
}

.innerwide {
    width: 700px;
    padding: 0 30px;
    margin: auto;
}

.afer_service ul {
    display: flex;
    justify-content: space-around;
}

.afer_service li {
    width: 24%;
}

.wesupport {
    position: relative;
}

.wesupport::before {
    content: "";
    background: url(images/pianohyakka_icon00.svg) no-repeat 100%;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 200px;
    top: -4px;
}

.wesupport::after {
    content: "";
    background: url(images/pianohyakka_icon00.svg) no-repeat 100%;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 200px;
    top: -4px;
    transform: scaleX(-1);
    /* 水平方向に反転させる */
}

.back_score {
    position: relative;
}
.back_score img {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    z-index: 1;
}
canvas{
    position: absolute;
    bottom: 0;
  left:0;
    width: 100%;
}